<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goBack()">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Movie Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="movie">
  <ion-card>
    <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" />
    <ion-card-header>
      <ion-card-title>{{ movie.title }}</ion-card-title>
      <ion-card-subtitle>Release Date: {{ movie.release_date }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{ movie.overview }}</p>
      <p>Rating: {{ movie.vote_average }}</p>
      <ion-button (click)="toggleBookmark()" class="toggle">
        <ion-icon [name]="isBookmarked ? 'bookmark' : 'bookmark-outline'" class="icon-toggle"></ion-icon>
        {{ isBookmarked ? 'Remove Bookmark' : 'Add Bookmark' }}
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Cast</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let actor of cast">
          <ion-avatar slot="start">
            <img [src]="'https://image.tmdb.org/t/p/w500' + actor.profile_path" />
          </ion-avatar>
          <ion-label>
            <h2>{{ actor.name }}</h2>
            <p>Role: {{ actor.character }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Crew</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let member of crew">
          <ion-avatar slot="start">
            <img [src]="'https://image.tmdb.org/t/p/w500' + member.profile_path" />
          </ion-avatar>
          <ion-label>
            <h2>{{ member.name }}</h2>
            <p>Job: {{ member.job }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content *ngIf="!movie" class="ion-text-center">
  <p>Loading...</p>
</ion-content>
