<ion-header class="profile-header">
  <ion-avatar class="profile-avatar">
    <img *ngIf="user.avatar" [src]="user.avatar" alt="Profile Image">
    <ion-icon *ngIf="!user.avatar" name="person-circle-outline" class="default-avatar-icon"></ion-icon>
  </ion-avatar>
  <ion-button fill="clear" class="change-avatar-button" (click)="changeAvatar()">
    <ion-icon slot="icon-only" name="camera"></ion-icon>
  </ion-button>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label>{{ user.name }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label>Birthday</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="call-outline" slot="start"></ion-icon>
      <ion-label>{{ user.phone }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label>{{ user.email }}</ion-label>
    </ion-item>
    <div class="button">
      <ion-button expand="full" (click)="goToCrud()">CRUD</ion-button>
      <div class="bmh">
        <ion-button class="buttonbmh" (click)="goToBookmark()">Bookmark</ion-button>
        <ion-button class="buttonbmh" (click)="goToHistory()">History</ion-button>
      </div>
    </div>
  </ion-card>
</ion-content>
